<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Resource Wall</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script async type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script async type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
<h1>TinyApp</h1>

<% if (locals.user) { %> <!-- getting this from object we created and past in use as KEy -->

  <p> Logged in as: <%=user.email%> </p>
  <form method="POST" action=<%=`/logout`%>>
    <button class="btn btn-primary"> logout </button>
  </form>
  <br/>

<% } else { %>

  <p>
    <a href="/login">Login</a>
    |
    <a href="/register">Register</a>
  </p>


<% } %>
</body>
</html>