<% if (userID) { %>
  <nav class="main-navbar fixed-top navbar navbar-dark">
    <div class="text-left">
      <a href="/favs" class="btn btn-info fav-button">
        My favourites
      </a>  
    </div>
    <a class="navbar-brand" href="/">Pita!</a>
    <div class="text-right">
      <button type="button" class="btn btn-info add-button">
        <i class="fas fa-edit"></i>
        Add new resource
      </button>
    </div>
  </nav>

 <% } else {  %>
  <nav class="main-navbar navbar navbar-dark">
    <div class="text-left">  
    </div>  
    <a class="navbar-brand" href="/">Pita!</a>
    <div class="text-right">
     <a class="btn btn-info login-button" href="/login">
          <i class="fa-sign-in-alt"></i>
        Login
       </a>
    </div>
  </nav>
<% } %>
