<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/specificResource.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script type="text/javascript" src="/scripts/specificResource.js"></script>
  </head>
  <body>
      

    <div class = 'properties'>
    </div>

    <div class = "like-box">
      <form class='like' type ='POST'>
        <button type="button" class='likeButton btn btn-info'>
            Like
        </button>
      </form>
      <form class='unlike' type ='POST'>
        <button type="button" class='unLikeButton btn btn-info'>
            Unlike
        </button>
      </form>
      <span class='totalLike createdTime'></span>
      <span class='personalLike'></span>
    </div>

    <div class = "comment-box">
      <form class='commentBox'type = 'POST'>
        <textarea placeholder='Leave your thoughts below!!'></textarea>
        <input type='submit' value='Comment' class='btn btn-info'>
      </form>
      <span class='comments'></span>
      <form class='rankBox' type= 'POST'>
        <select>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <input class ='rankButton' type='submit' class='btn btn-info'>
      </form>
      <span class='personalRank'></span>
      <span class='averageRank'></span>
    </div>

 </div>
    

  </body>
</html>
