<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/specificResource.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
      <header>Hey how are you doing!!!!</header>
    <form class='like' type ='POST' action='/resources:id/like'>
        <button class = 'likeButton'>
            <p>Like</p>
        </button>
    </form>
    <form type = 'POST' action='/login'>
      <p>
        Login:
        <input name = username>
        <button class = 'login'>
          Login
        </button>
      </p>
    </form>
    <form class='commentBox'type = 'POST' action='/resources:id/comment'>
      <textarea name="text" placeholder="Leave your thoughts below!!"></textarea>
      <input type="submit" value="Comment">
    </form>
    <form class='rankBox' type= 'POST' action='/resources:id/rank'>
      <select>
        <option value="one">1</option>
        <option value="two">2</option>
        <option value="three">3</option>
        <option value="four">4</option>
        <option value="five">5</option>
      </select>
      <input type='submit'>
    </form>
    <div class='comments'></div>
  </body>
</html>
