$navbar-background: #f38181;
$body-background: #fce38a;
$border-radius: 10px;

body {
    background-color: #EEE;
    color:#809599;
  }

.comments {
    position: relative;
    left: 90%;
}

.properties {
    display:flex;
    flex-direction:column;
    border-style: solid;
    border-radius: $border-radius;
    border-color:  #ffffff;
    border-width: 1px;
    margin: 20px;
    width: 80%;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color:#809599;

    .title{
       font-weight: 800;
       font-size:35px;
    }

    .description{
        font-weight: 600;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto Oxygen-Sans", Ubuntu, Cantarell, "“Fira Sans”", "“Droid Sans”", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
    .category {
        font-weight: 600;
    }

    .url{
        
    }

    .image {
        border-radius: $border-radius;
    }

    .createdTime {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto Oxygen-Sans", Ubuntu, Cantarell, "“Fira Sans”", "“Droid Sans”", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

   

   

    
}

.like-box {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto Oxygen-Sans", Ubuntu, Cantarell, "“Fira Sans”", "“Droid Sans”", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display:flex;
    flex-direction: row;
    // border-style: solid;
    // border-radius: $border-radius;
    // border-color: #c6c6c6;
    // border-width: 1px;
    margin: 20px;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.comment-box {
    display:flex;
    flex-direction: row;
    border-style: solid;
    border-radius: $border-radius;
    border-color: #c6c6c6;
    border-width: 1px;
    margin: 20px;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    background-color: #809599;
    padding: 10px;
    color: #ffffff;
}