$navbar-background: #f38181;
$body-background: #fce38a;
$border-radius: 10px;


.comments {
    position: relative;
    left: 90%;
}

.properties {
    display:flex;
    flex-direction:column;
    border-style: solid;
    border-radius: $border-radius;
    border-color: #c6c6c6;
    border-width: 1px;
    margin: 20px;
    width: 80%;
    align-items: center;

    .url{
        
    }

    .image {
        
    }

    .createdTime{
        position: relative;
    }

    .description{
        position: relative;
    }

    .category{
        position: relative;
    }

    .title{
        position: relative;
    }
}

.like-box {
    display:flex;
    flex-direction: row;
    border-style: solid;
    border-radius: $border-radius;
    border-color: #c6c6c6;
    border-width: 1px;
    margin: 20px;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.comment-box {
    display:flex;
    flex-direction:column;
    border-style: solid;
    border-radius: $border-radius;
    border-color: #c6c6c6;
    border-width: 1px;
    margin: 20px;
    width: 80%;
    align-items: center;
}