.comments {
    position: relative;
    left: 90%;
}

.properties {

    .image {
        position: relative;
        left: 15vw;
    }

    .url{
        position: relative;
    }

    .createdTime{
        position: relative;
    }

    .description{
        position: relative;
    }

    .category{
        position: relative;
    }

    .title{
        position: relative;
    }
}

.rankBox {

}

.averageRank {

}

.commentBox {
}