.comments {
    position: relative;
    left: 90%;
}

.properties {

    .image {
        position: relative;
        left: 15vw;
    }

    .url{
        position: relative;
    }

    .createdTime{
        position: relative;
    }

    .description{
        position: relative;
    }

    .category{
        position: relative;
    }

    .title{
        position: relative;
    }
}

.rankBox {

}

.averageRank {

}

article.comment {
    border: 1px black solid;
    padding-left: 1%;
    padding-right: 1%;
    width: 30%;
    background: antiquewhite;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 10px;
}